<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ConnectionHandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>saveuser</servlet-name>
        <servlet-class>saveuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>verifyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyuser</servlet-name>
        <servlet-class>verifyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>onlineshop.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>onlineshop.CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>onlineshop.Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategory</servlet-name>
        <servlet-class>onlineshop.GetCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProducts</servlet-name>
        <servlet-class>onlineshop.GetProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWholeProduct</servlet-name>
        <servlet-class>onlineshop.GetWholeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadyForUpdate</servlet-name>
        <servlet-class>ReadyForUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveuser</servlet-name>
        <url-pattern>/saveuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyuser</servlet-name>
        <url-pattern>/verifyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategory</servlet-name>
        <url-pattern>/GetCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProducts</servlet-name>
        <url-pattern>/GetProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWholeProduct</servlet-name>
        <url-pattern>/GetWholeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadyForUpdate</servlet-name>
        <url-pattern>/ReadyForUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
